<!DOCTYPE html>
<html>
<head>
    <title>Survey - Finding topic from words</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="task.js" type="text/javascript"></script>
</head>
<body>
<div>
	<table class='reportTable'>
		<thead>
			<tr>
				<th>user code</th>
				<th>mode</th>
				<th>test</th>
				{% for idx in range(4) %}
					<th>short / long / confidence {{idx}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for hit in hits %}
			<tr>
				<td>{{hit.usercode}}</td>
				<td>{{hit.mode}}</td>
				{% for ans in hit.ansList %}
				<td>
					<ul class='wordList'>
						{% for i in range(hit.wordNum)  %}
							{% if ans.topicIndex %}
								{% if hit.version==1 %}
									<li>{{ topicWords[ans.topicIndex|int]['terms'][i]['first'] }}</li>
								{% else %}
									<li>{{ topicWordsOld[ans.topicIndex|int]['terms'][i]['first'] }}</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
					<span class='shortAnswer'>[{{ans.short}}]</span><br>
					<span class='longAnswer'>{{ans.long}}</span> <br>
					<span class='confidence'>confidence: {{ans.conf}}</span>
					<span class='timeStamp'><br>took {{ans.duration}} sec</span>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

</body>
</html>
