html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.crossed {
  color: #7dd0b6 !important;
  text-decoration: line-through;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  /*dim the background*/

}
.overlay .modal_frame {
  width: 600px;
  position: relative;
  height: calc(100% - 200px);
  overflow: scroll;
  margin: 100px auto;
  background-color: white;
  border: 2px solid #54a6ad;
  border-radius: 10px;
  padding: 15px;
  text-align: justify;
}
.overlay .modal_frame .modal_title {
  display: block;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.overlay .modal_frame .modal_content {
  margin-top: 8px;
  font-size: 14px;
  color: black;
}
.overlay .modal_frame .modal_content p {
  font-size: 18px;
  margin-top: 20px;
  font-family: sans-serif, helvetica, Arial;
}
.overlay .modal_frame img.modal_close {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.container {
  position: relative;
  min-width: 800px;
  height: 100%;
}
.container .introduction {
  font-family: sans-serif, helvetica, Arial;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5em;
  padding: 20px;
  border-bottom: 1px solid #666;
}
.container button.simple {
  display: block;
  font-size: 1em;
  margin-top: 10px;
  padding: .3em 1.0em;
  background: transparent;
  border-radius: 2px;
  border: 1px solid black;
  font-weight: 100;
  font-family: sans-serif;
}
.container button.simple:hover {
  background: white;
}
.container .turk_tasks {
  width: 60%;
  height: 100%;
}
.container .turk_tasks ul.turk_tasks_ul {
  height: 100%;
  position: relative;
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 30px;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task {
  height: 100%;
  position: relative;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.topic_rep {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #aaa;
  background: white;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.15);
  z-index: 20;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.topic_rep ul.topic_terms {
  margin: 10px;
  padding: 0px;
  line-height: 1.5em;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.topic_rep ul.topic_terms li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  text-align: justify;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.topic_rep ul.topic_terms li div.term {
  font-family: Arial, Helvetica, sans-serif;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.topic_rep ul.topic_terms li div.term.highlighted {
  text-shadow: 0 0 0.5em #c96b6b, 0 0 0.5em #c96b6b;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep {
  height: 100%;
  padding-top: 70px;
  overflow: scroll;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep ul.doc_list_ul {
  list-style-type: none;
  list-style: none;
  margin: 20px 10px;
  padding: 0px;
  padding-bottom: 70px;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep ul.doc_list_ul li {
  position: relative;
  margin-bottom: 10px;
  max-height: 20px;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep ul.doc_list_ul li div.doc_weight {
  display: inline;
  font-family: sans-serif;
  color: #54a6ad;
  font-weight: 500;
  font-size: 12px;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep ul.doc_list_ul li div.doc_title {
  font-family: serif;
  font-size: 18px;
  display: inline;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep ul.doc_list_ul li div.doc_text {
  display: inline;
  font-family: serif;
  font-size: 13px;
  margin-left: 15px;
  overflow: hidden;
  color: #666;
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep ul.doc_list_ul li .fadeCurtain {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.container .turk_tasks ul.turk_tasks_ul li.turk_task div.doc_rep ul.doc_list_ul li.zoomed {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  max-height: 1000px;
}
.container .refinement_container {
  position: relative;
  box-sizing: border-box;
  position: absolute;
  box-shadow: inset 5px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background: #d0eff2;
  font-weight: 300;
  color: black;
  top: 0px;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow-y: scroll;
}
.container .refinement_container .tutorial {
  margin: 30px;
  font-family: sans-serif, helvetica, Arial;
  line-height: 1.3em;
}
.container .refinement_container .refining_tool {
  margin: 30px;
  font-family: sans-serif, helvetica, Arial;
}
.container .refinement_container .refining_tool label.task_num {
  font-weight: 600;
  font-size: 16px;
}
.container .refinement_container .refining_tool .refining_stage {
  margin-top: 20px;
}
.container .refinement_container .refining_tool .refining_stage .ref_question {
  margin-top: 10px;
  margin-bottom: 5px;
}
.container .refinement_container .refining_tool .refining_stage textarea.ref_answer {
  width: 100%;
  height: 50px;
  font-size: 15px;
}
.container .refinement_container .refining_tool .refining_stage div.ref_answer {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.2em;
}
.container .refinement_container .refining_tool .refining_stage div.ref_answer input {
  margin-left: 15px;
}
.container .refinement_container .refining_tool .refining_stage div.ref_answer input[type='text'] {
  width: 350px;
  font-size: 0.9em;
  margin-top: 5px;
}
.container .refinement_container .refining_tool .refining_stage div.ref_answer input[type='text'].ref_theme_add_word {
  width: 200px;
  border: 1px solid #999;
  border-radius: 1px;
  margin-top: -2px;
  margin-left: 0px;
  height: 18px;
}
.container .refinement_container .refining_tool .refining_stage div.ref_answer button {
  font-size: 14px;
  margin-top: 5px;
}
.container .refinement_container .refining_tool .refining_stage ul.ref_theme_editor {
  list-style-type: none;
  list-style: none;
  margin: 0px 0px 5px;
  padding: 5px;
  border: 1px solid #999;
  width: 100%;
  background: white;
}
.container .refinement_container .refining_tool .refining_stage ul.ref_theme_editor li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-left: 0px;
  padding: 1px 3px;
  line-height: 1.3em;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid white;
  color: #000;
  background-color: #ddd;
  cursor: pointer;
}
.container .refinement_container .refining_tool .refining_stage ul.ref_theme_editor li.selected {
  background-color: #d0eff2;
  border: 1px solid #54a6ad;
}
.container .refinement_container .refining_tool .refining_stage ul.ref_theme_editor li.removed {
  display: none;
}
.container .refinement_container .refining_tool .refining_stage div.ref_theme_editing_ui {
  margin: 7px 0 0 8px;
}
.container .refinement_container .open_refinement_tool {
  margin: 15px;
  font-family: sans-serif, helvetica, Arial;
}
.container .refinement_container .open_refinement_tool label.main {
  color: #c96b6b;
  margin-top: 10px;
}
.container .refinement_container .open_refinement_tool label {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.container .refinement_container .open_refinement_tool ul.questions {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  font-size: 13px;
  font-weight: 300;
}
.container .refinement_container .open_refinement_tool ul.questions li {
  line-height: 1.4em;
}
.container .refinement_container .open_refinement_tool div.open_template label {
  display: block;
  font-size: 13px;
  font-weight: 400;
}
.container .refinement_container .open_refinement_tool textarea.full-col-text {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #666;
  background: #151515;
  color: white;
  height: 100px;
  margin: 5px 0;
  padding: 5px;
  font-size: 13px;
}
.container .refinement_container .open_refinement_tool button.add_open_ref {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 12px;
  margin: 5px ;
  background-color: #c96b6b;
  border: 0px solid #802F12;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.container .refinement_container .open_refinement_tool div.warning {
  font-size: 12px;
  text-align: center;
  color: #f00;
  margin: 5px;
}
.container .refinement_container ul.open_ref_list {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, helvetica, Arial;
  margin: 15px;
}
.container .refinement_container ul.open_ref_list li.ref_plan {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 100%;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.2);
}
.container .refinement_container ul.open_ref_list li.ref_plan label.ref_description {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-right: 50px;
  word-wrap: break-word;
}
.container .refinement_container ul.open_ref_list li.ref_plan img.remove {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 12px;
  width: 15px;
  height: 15px;
}
.container .refinement_container .refinement_tool {
  margin: 15px;
  font-family: sans-serif, helvetica, Arial;
}
.container .refinement_container .refinement_tool label {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin-top: 10px;
}
.container .refinement_container .refinement_tool div.template {
  position: relative;
  box-sizing: border-box;
  margin-top: 6px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 7px;
  width: 100%;
  padding: 6px;
}
.container .refinement_container .refinement_tool div.template .ref_title {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: white;
}
.container .refinement_container .refinement_tool div.template input.topicNum {
  width: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.container .refinement_container .refinement_tool div.template input.singleWord {
  width: 50px;
  font-size: 16px;
  font-weight: 500;
}
.container .refinement_container .refinement_tool div.template input.documentCodes {
  width: 50px;
  font-size: 16px;
  font-weight: 500;
}
.container .refinement_container .refinement_tool div.template input[type='radio'] {
  position: absolute;
  top: 12px;
  left: 10px;
}
.container .refinement_container .refinement_tool div.template label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.container .refinement_container .refinement_tool div.template div.details {
  margin-top: 5px;
}
.container .refinement_container .refinement_tool div.template div.details .half-col-text {
  width: 45%;
  height: 20px;
  margin: 3px;
  font-size: 14px;
}
.container .refinement_container .refinement_tool div.template div.details textarea.full-col-text {
  width: 96%;
  height: 40px;
  margin: 3px;
  font-size: 14px;
}
.container .refinement_container .refinement_tool div.template button.add {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 7px;
  margin: 5px ;
  background-color: #c96b6b;
  border: 0px solid #802F12;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.container .refinement_container .refinement_tool div.template button.reset {
  font-size: 12px;
  line-height: 1.5;
  padding: 3px 7px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
.container .refinement_container .refinement_tool div.template div.smallInst {
  margin: 4px 0 4px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif, helvetica, Arial;
  color: #aaa;
}
.container .refinement_container .refinement_tool div.template.focused {
  background-color: #ccc;
  border: 1px solid #aaa;
}
.container .refinement_container .refinement_tool div.template[type='split-topic'] ul.wordBucket {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  float: left;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  width: 45%;
  margin-left: 10px;
  margin-bottom: 5px;
  min-height: 50px;
  height: 150px;
  overflow: scroll;
}
.container .refinement_container .refinement_tool div.template[type='split-topic'] ul.wordBucket li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 3px;
  margin-left: 0px;
  padding: 0px 4px;
  font-size: 13px;
  cursor: pointer;
}
.container .refinement_container .refinement_tool div.template[type='split-topic'] div.smallInst {
  margin: 4px 0 4px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif, helvetica, Arial;
  color: #aaa;
}
.container .refinement_container .refinement_tool div.template[type='remove-words-from-topic'] ul.wordBucket {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 3px 7px 3px 7px;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 30px;
  border-radius: 5px;
}
.container .refinement_container .refinement_tool div.template[type='remove-words-from-topic'] ul.wordBucket li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  font-size: 13px;
  border-radius: 3px;
  color: #bbb;
  cursor: pointer;
}
.container .refinement_container .refinement_tool div.template[type='remove-words-from-topic'] div.smallInst {
  margin: 4px 0 4px 1px;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif, helvetica, Arial;
  color: #aaa;
}
.container .refinement_container div.bottom_UI {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #aaa;
  text-align: center;
}
.container .refinement_container div.bottom_UI button.start_phase1 {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 20px 3px 20px;
  background-color: #54a6ad;
  border: 0px;
  color: white;
  cursor: pointer;
}
.container .refinement_container div.bottom_UI button.next_stage {
  display: none;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 20px;
  background-color: #54a6ad;
  border: 0px;
  color: white;
  cursor: pointer;
}
.container .refinement_container div.bottom_UI button.finish_phase2 {
  display: none;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 20px;
  background-color: #54a6ad;
  border: 0px;
  color: white;
  cursor: pointer;
}
.container .refinement_container div.bottom_UI div.clock {
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin: 5px;
}
.container .refinement_container label.inst_ref_list {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #c96b6b;
}
.container .refinement_container ul.ref_list {
  list-style-type: none;
  list-style: none;
  margin: 15px;
  padding: 0px;
  font-family: sans-serif, helvetica, Arial;
}
.container .refinement_container ul.ref_list li.ref_plan {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
}
.container .refinement_container ul.ref_list li.ref_plan .color1 {
  color: #7dd0b6;
}
.container .refinement_container ul.ref_list li.ref_plan .color2 {
  color: #f69256;
}
.container .refinement_container ul.ref_list li.ref_plan label.ref_description {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  padding-right: 50px;
  word-wrap: break-word;
}
.container .refinement_container ul.ref_list li.ref_plan img.remove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.container .refinement_container ul.ref_list li.ref_plan img.update {
  position: absolute;
  top: 15px;
  right: 40px;
  width: 15px;
  height: 15px;
}
.container .refinement_container ul.ref_list li.ref_plan .editable {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 0px 3px;
  margin-left: 2px;
  margin-right: 2px;
}
.container .refinement_container ul.ref_list li.ref_plan div.ref_plan_detail .detail_part {
  font-size: 13px;
  font-weight: 300;
  color: #999;
}
.container .refinement_container ul.ref_list li.ref_plan div.ref_plan_detail ul {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
.container .refinement_container ul.ref_list li.ref_plan div.ref_plan_detail ul .heading {
  font-size: 13px;
  font-weight: 400;
  color: #999;
  margin-right: 5px;
}
.container .refinement_container ul.ref_list li.ref_plan div.ref_plan_detail ul li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 3px;
  margin-left: 0px;
  padding: 0px 4px;
  font-size: 13px;
  border-radius: 3px;
}
.main_container {
  position: relative;
  min-width: 800px;
  height: 100%;
  overflow: hidden;
}
.topic_container {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  padding: 5px 0px 5px 5px;
  overflow-y: scroll;
}
.topic_container label.inst {
  display: inline-block;
  margin: 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.topic_container div.logging_stuff {
  text-align: right;
  margin: 10px;
}
.topic_container ul.focused_word_list {
  display: inline;
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.topic_container ul.focused_word_list li.focused_word {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  background-color: #c96b6b;
  margin-right: 4px;
  padding: 0px 3px 0px 3px;
}
.topic_container ul.topic_list {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}
.topic_container ul.topic_list li.topic {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 69%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(69%, #ffffff), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #ffffff 69%, #eaeaea 100%);
  background: -o-linear-gradient(top, #ffffff 69%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #ffffff 69%, #eaeaea 100%);
  background: linear-gradient(to bottom, #ffffff 69%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
}
.topic_container ul.topic_list li.topic {
  width: calc(100%-15px);
  padding: 6px 0px 4px 0px;
  /*border-bottom:1px solid #aaa;*/

  cursor: pointer;
}
.topic_container ul.topic_list li.topic div.topic_rep {
  position: relative;
}
.topic_container ul.topic_list li.topic div.topic_rep label.topic_index {
  position: absolute;
  top: -2px;
  left: 2px;
  width: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #54a6ad;
}
.topic_container ul.topic_list li.topic div.topic_rep ul.topic_terms {
  margin: 5px 5px 5px 30px;
  padding: 0px;
  line-height: 1em;
}
.topic_container ul.topic_list li.topic div.topic_rep ul.topic_terms li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
}
.topic_container ul.topic_list li.topic div.topic_rep ul.topic_terms li div.term {
  font-family: Arial, Helvetica, sans-serif;
}
.topic_container ul.topic_list li.topic div.topic_rep ul.topic_terms li div.term.highlighted {
  text-shadow: 0 0 0.5em #c96b6b, 0 0 0.5em #c96b6b;
}
.topic_container ul.topic_list li.topic.selected {
  background: #d0eff2;
  cursor: default;
}
.document_container {
  box-sizing: border-box;
  background-color: #d0eff2;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
}
.document_container label.inst {
  display: block;
  margin: 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.document_container span.document_show_all {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 12px;
  margin-left: 20px;
  font-weight: 300;
  cursor: pointer;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.document_container span.document_hide_all {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  margin-left: 20px;
  font-weight: 300;
  cursor: pointer;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.document_container button.document_show {
  display: block;
  position: absolute;
  width: 150px;
  height: 40px;
  top: calc(50% -  20px);
  left: calc(50% - 75px);
  background: transparent;
  border: 1px solid black;
  font-size: 17px;
  cursor: pointer;
}
.document_container ul.document_list {
  list-style-type: none;
  list-style: none;
  margin: 10px;
  padding: 0px;
}
.document_container ul.document_list li.document_item:hover {
  border: 1px solid #54a6ad;
}
.document_container ul.document_list li.document_item {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 5px 0 0 10px;
  margin-bottom: 5px;
  cursor: zoom-in;
  height: 40px;
  overflow: hidden;
}
.document_container ul.document_list li.document_item .fadeCurtain {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #d0eff2 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #d0eff2 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #d0eff2 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #d0eff2 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #d0eff2 100%);
}
.document_container ul.document_list li.document_item .idx {
  display: inline-block;
  margin-right: 5px;
  color: #54a6ad;
  font-weight: 800;
  font-size: 16px;
  font-family: sans-serif, helvetica, Arial;
}
.document_container ul.document_list li.document_item .prob {
  font-weight: 400;
  font-family: sans-serif, helvetica, Arial;
  font-size: 16px;
  margin-left: 10px;
  font-style: italic;
  color: #54a6ad;
}
.document_container ul.document_list li.document_item .title {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif, helvetica, Arial;
}
.document_container ul.document_list li.document_item .title .keyword {
  text-shadow: 0 0 0.5em #c96b6b, 0 0 0.5em #c96b6b;
}
.document_container ul.document_list li.document_item .keyPhrase {
  color: #c96b6b;
  font-size: 13px;
}
.document_container ul.document_list li.document_item .keyPhrase .keyword {
  color: black;
  text-shadow: 0 0 0.5em #c96b6b, 0 0 0.5em #c96b6b;
}
.document_container ul.document_list li.document_item .fulltext {
  display: inline;
  font-size: 14px;
  line-height: 1em;
}
.document_container ul.document_list li.document_item .fulltext .keyword {
  color: #c96b6b;
}
.document_container ul.document_list li.document_item span.showmore {
  display: inline-block;
  font-family: sans-serif, helvetica, Arial;
  margin-top: 5px;
  color: #54a6ad;
  fint-weight: 800;
  font-size: 13px;
  cursor: pointer;
}
.document_container ul.document_list li.document_item .relevancyScore {
  display: block;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
  font-style: italic;
  font-size: 13px;
}
.document_container ul.document_list li.document_item .otherTopics {
  display: block;
  font-family: sans-serif, helvetica, Arial;
  color: #888;
  font-style: italic;
  font-size: 13px;
}
.document_container ul.document_list li.document_item .otherTopics .relatedTopic {
  display: block;
}
.document_container ul.document_list li.selectedDoc {
  cursor: zoom-out;
  height: auto !important;
}
.document_container ul.document_list li.selectedDoc .fadeCurtain {
  display: none;
}
.document_container ul.document_list div.separation {
  color: #54a6ad;
  font-size: 13px;
  font-weight: 700;
  margin-left: 5px;
  border-bottom: 1px dotted #54a6ad;
}
