@purple: rgb(155, 70, 129);
@purple-light: #bf81b3;
@skyblue: #02aff0;
@yellow: #ffdc48;
@grassgreen: #889a0f;
@orange: #ea7e00;
@paleblue: #54a6ad;
@palegreen: #92ba67;
@palered: #c96b6b;

@aquamarine: #9dc6d8;
@scubablue: #00b3ca;
@lucitegreen: #7dd0b6;
@classicblue: #1d4e89;
@toastedalmond: #d2b29b;
@strawberryice: #e38690;
@tangerineorange: #f69256;
@custardyellow: #ead98b;
@marsalared: #965251;
@glaciergray: #c6cccc;

@sipsgreen: #D6F6F9;
@lightGray: #dadada;

html, body {
    height:100%;
    position:relative;
    overflow:hidden;
    margin:0px;
}

.crossed {
    color:@lucitegreen !important;
    text-decoration:line-through;
}

.hidden {
    display:none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    .modal_frame {
        width:600px;
        position:relative;
        height: calc(~'100% - 200px');
        overflow:scroll;
        margin: 100px auto;
        background-color: white;
        border:2px solid @paleblue;
        border-radius:10px;
        padding:15px;
        text-align:justify;
        .modal_title {
            display:block;
            padding-right:20px;
            font-size: 17px;    font-weight:600;
            font-family: sans-serif, helvetica, Arial;
            color: @paleblue;
        }
        .modal_content {
            margin-top:8px;
            font-size: 14px; 
            color: black;   
            p {
                font-size:18px;
                margin-top:20px;
                font-family: sans-serif, helvetica, Arial;
            }
        }
        img.modal_close {
            position:absolute;
            cursor:pointer;
            top:15px; right: 15px;
            width:20px; height:20px;
        }
    }

}

.main_container {
    position:relative;
    min-width:800px;
    height:100%;
    overflow:hidden;
}

.topic_container {
    box-sizing: border-box;
    position:absolute;
    top:0px;
    left:0px; 
    width: 50%;
    height:100%;
    padding:5px;
    overflow-y:scroll;
    label.inst {
        display:block;
        margin:15px;
        font-size: 16px;    font-weight:600;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    ul.topic_list {
        list-style-type:none;   list-style:none;    margin:0px; padding:0px;
        margin-left:10px;
        li.topic {
          background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgb(255,255,255) 47%, rgb(216,216,216) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,rgb(255,255,255)), color-stop(100%,rgb(216,216,216)));
background: -webkit-linear-gradient(top,  rgb(255,255,255) 47%,rgb(216,216,216) 100%);
background: -o-linear-gradient(top,  rgb(255,255,255) 47%,rgb(216,216,216) 100%);
background: -ms-linear-gradient(top,  rgb(255,255,255) 47%,rgb(216,216,216) 100%);
background: linear-gradient(to bottom,  rgb(255,255,255) 47%,rgb(216,216,216) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 );
        }
        li.topic{
            width:calc(~"100%-15px");
            padding:4px 0px 2px 0px;
            border-bottom:1px solid #aaa;
            border-top:1px solid #fff;
            cursor:pointer;
            div.topic_rep{
                position:relative;
                label.topic_index {
                    position:absolute;
                    top:-3px; left:2px; 
                    width:25px;
                    text-align:center;
                    font-family: Arial, Helvetica, sans-serif; 
                    font-size:18px; font-weight:600;  color:@paleblue;
                }
                ul.topic_terms {
                    margin:5px 5px 5px 30px; 
                    padding:0px;
                    line-height:1em;
                    li{
                        display:inline-block;
                        margin-right:10px; margin-left:0px;
                        div.term {    
                            font-family: Arial, Helvetica, sans-serif; 

                        }
                    }
                }
            }
        }
        li.topic.selected {
            margin-right:-5px;
            background: rgb(224,251,255);
            background: -moz-linear-gradient(top,  rgb(224,251,255) 0%, rgb(171,201,209) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(224,251,255)), color-stop(100%,rgb(171,201,209)));
            background: -webkit-linear-gradient(top,  rgb(224,251,255) 0%,rgb(171,201,209) 100%);
            background: -o-linear-gradient(top,  rgb(224,251,255) 0%,rgb(171,201,209) 100%);
            background: -ms-linear-gradient(top,  rgb(224,251,255) 0%,rgb(171,201,209) 100%);
            background: linear-gradient(to bottom,  rgb(224,251,255) 0%,rgb(171,201,209) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0fbff', endColorstr='#abc9d1',GradientType=0 );
            border-bottom:1px solid @paleblue;
        }
    }
}

.document_container {
    box-sizing: border-box;
    background-color:@sipsgreen;
    position:absolute;
    top:0px;
    left:50%;
    width: 50%;
    height:100%;
    padding:5px;
    overflow-y:scroll;
    label.inst {
        display:block;
        margin:15px;
        font-size: 16px;    font-weight:600;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    span.document_show_all {
        position:absolute;
        top:15px; right:60px; 
        font-size:12px;
        margin-left:20px; 
        font-weight:300;
        cursor:pointer;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    span.document_hide_all {
        position:absolute;
        top:15px; right:15px; 
        font-size:12px;
        margin-left:20px; 
        font-weight:300;
        cursor:pointer;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    button.document_show {
        display:block;
        position:absolute;
        width:150px; height:40px;
        top:calc(~"50% -  20px"); 
        left:calc(~"50% - 75px"); 
        background:transparent;
        border:1px solid black;
        font-size:17px;
        cursor:pointer;
    }
    ul.document_list {
        list-style-type:none;   list-style:none;    margin:10px; padding:0px;
        
        li.document_item:hover {
            border:1px solid @paleblue;
        }
        li.document_item {
            position:relative;
            border:1px solid rgba(0,0,0,0);
            border-radius:5px;
            padding:5px;
            margin-bottom:5px;
            cursor:zoom-in;
            height:45px;
            overflow:hidden;
            .fadeCurtain {
                position:absolute;
                bottom:0px; 
                width:100%; height:20px;
                background: -webkit-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                ); 
                background-image: -moz-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
                background-image: -o-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
                background-image: linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
                background-image: -ms-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
            }
            .idx {
                display:inline-block;
                margin-right:5px;
                color:@paleblue;
                font-weight: 800;
                font-size:16px;
                font-family: sans-serif, helvetica, Arial;
            }
            .prob {
                font-weight:400;
                font-family: sans-serif, helvetica, Arial;
                font-size: 16px;
                margin-left:10px;
                font-style:italic;
                color: @paleblue;
            }
            .title {
                display:inline;
                font-weight: 500;
                font-size: 16px;
                font-family: sans-serif, helvetica, Arial;
            }
            .fulltext {
                font-size:13px;
            }
            span.showmore {
                display:block;
                font-family: sans-serif, helvetica, Arial;
                margin-top:5px;
                color:@paleblue;
                fint-weight:800;
                cursor:pointer;
            }
        }
        li.selectedDoc {
            cursor:zoom-out;
            height:auto;
            .fadeCurtain {
                display:none;
            }
        }
    }
}

.refinement_container {
    display:none;
    position:relative;
    box-sizing: border-box;
    position:absolute;
    background:#333;
    font-weight:300;
    color:white;
    top:0px;
    left:65%;
    width: 35%;
    height:100%;
    overflow-y:scroll;
    label.inst {
        display:block;
        font-size: 16px;    font-weight:600;
        font-family: sans-serif, helvetica, Arial;
        margin:20px 15px 0px 15px;
        color: @palered;
    }
    div.instruction {
        margin-left:10px;
        font-size:14px; 
        line-height:1.3em;
        font-family: sans-serif, helvetica, Arial;
    }

    .open_refinement_tool {
        margin:15px;
        font-family: sans-serif, helvetica, Arial;
        label.main {
            color:@palered;
            margin-top:10px;
        }
        label {
            display:block;
            font-weight:500;
            font-size:15px;
            line-height:24px;
        }
        ul.questions {
            margin:0; padding:0;
            margin-left:25px;
            font-size:13px; font-weight:300;
            li {
                line-height:1.4em;
            }
        }
        div.open_template {
            label {
                display:block;
                font-size:13px; font-weight:400;
            }
        }
        textarea.full-col-text {
            box-sizing: border-box;
            width:100%; 
            border-radius:5px;
            border:1px solid #666;
            background:#151515;
            color:white;
            height:100px;
            margin:5px 0;
            padding:5px;
            font-size:13px;
        }
        button.add_open_ref {
            font-size:14px;
            line-height:1.5;
            border-radius:3px;
            padding:3px 12px;
            margin:5px ;
            background-color: @palered;
            border: 0px solid #802F12;
            display:inline-block;
            color:white;
            cursor:pointer;
        }
        div.warning {
            font-size:12px; 
            text-align:center;
            color:#f00;
            margin:5px;
        }
    }
    ul.open_ref_list {
        list-style-type:none;   list-style:none;    margin:0px; padding:0px;
        font-family: sans-serif, helvetica, Arial;
        //-webkit-box-shadow: 0px -5px 32px -5px rgba(0,0,0,0.75);
        //-moz-box-shadow: 0px -5px 32px -5px rgba(0,0,0,0.75);
        //box-shadow: 0px -5px 32px -5px rgba(0,0,0,0.75);
        margin:15px;

        li.ref_plan{
            position:relative;
            box-sizing: border-box;
            border:1px solid #aaa;
            margin-bottom:10px;
            border-radius: 7px;
            width:100%;
            padding:7px;
            background-color:rgba(0,0,0,0.2);
            label.ref_description {
                display:block;
                font-weight:300;
                font-size:14px;
                line-height:24px;
                padding-right:50px;
                word-wrap: break-word;
            }
            img.remove {
                position:absolute;
                cursor:pointer;
                top:12px; right: 12px;
                width:15px; height:15px;
            } 
        }


    }

    .refinement_tool {
        margin:15px;
        font-family: sans-serif, helvetica, Arial;
        label {
            display:block;
            font-weight:500;
            font-size:15px;
            line-height:24px;
            margin-top:10px;
        }
        div.template {
            position:relative;
            box-sizing: border-box;
            //border:1px solid #ccc;
            margin-top:6px;
            background-color:rgba(255,255,255,0.15);
            color:white;
            border-radius: 7px;
            width:100%;
            padding:6px;
            .ref_title {
                font-weight:500;
                font-size:16px;
                cursor:pointer;
                color:white;
            }
            input.topicNum {
                width:20px;
                font-size:16px;
                font-weight:500;
                text-align:center;
            }
            input.singleWord {
                width:50px;
                font-size:16px;
                font-weight:500;
            }
            input.documentCodes {
                width:50px;
                font-size:16px;
                font-weight:500;
            }
            input[type='radio'] {
                position:absolute;
                top:12px; left:10px;
            }
            label {
                display:block;
                //margin-left:22px;
                font-weight:500;
                font-size:16px;
                line-height:24px;
            }
            div.details {
                //display:none;
                margin-top:5px;

                .half-col-text {
                    width:45%; 
                    height:20px;
                    margin:3px;
                    font-size:14px;
                }
                textarea.full-col-text {
                    width:96%; 
                    height:40px;
                    margin:3px;
                    font-size:14px;
                }
            }
            button.add {
                font-size:14px;
                line-height:1.5;
                border-radius:3px;
                padding:3px 7px;
                margin:5px ;
                background-color: @palered;
                border: 0px solid #802F12;
                display:inline-block;
                color:white;
                cursor:pointer;
            }
            button.reset {
                font-size:12px;
                line-height:1.5;
                padding:3px 7px;
                margin:5px;
                background-color: rgba(0,0,0,0);
                border: none;
                display:inline-block;
                cursor:pointer;
                color:#fff;
            }
            div.smallInst {
                margin:4px 0 4px 10px;
                font-size: 12px;
                font-weight:500;
                font-family: sans-serif, helvetica, Arial;
                color: #aaa; 
            }
        }
        div.template.focused { 
            background-color:#ccc;
            border:1px solid #aaa;
        }
        div.template[type='split-topic'] {
            ul.wordBucket {
                list-style-type:none;   list-style:none;    margin:0px; 
                padding: 5px;
                box-sizing: border-box;
                float:left;
                //border:1px solid #ccc;
                border-radius:5px;
                background:rgba(0,0,0,0.2);
                width: 45%;
                margin-left:10px;
                margin-bottom:5px;
                min-height: 50px;
                height:150px;
                overflow:scroll;
                li {
                    font-family: Arial, Helvetica, sans-serif; 
                    display:inline-block;
                    margin-right:3px; margin-left:0px;
                    padding: 0px 4px;
                    font-size: 13px;
                    //border-radius:3px; ;
                    //background-color:@lightGray;
                    cursor:pointer;
                }
            } 
            div.smallInst {
                margin:4px 0 4px 10px;
                font-size: 12px;
                font-weight:500;
                font-family: sans-serif, helvetica, Arial;
                color: #aaa; 
            }
        } 
        div.template[type='remove-words-from-topic'] {
            ul.wordBucket {
                list-style-type:none;   list-style:none;    margin:0px; padding:3px 7px 3px 7px;
                background-color:rgba(0,0,0,0.3);
                min-height:30px;
                border-radius:5px;
                li {
                    font-family: Arial, Helvetica, sans-serif; 
                    display:inline-block;
                    margin-right:10px; margin-left:0px;
                    font-size: 13px;
                    border-radius:3px; ;
                    color:#bbb;
                    //background-color:white;
                    cursor:pointer;
                }
            } 
            div.smallInst {
                margin:4px 0 4px 1px;
                font-size: 12px;
                font-weight:500;
                font-family: sans-serif, helvetica, Arial;
                color: #aaa; 
            }
        } 
    }
    
    div.bottom_UI {
        //position:absolute;
        //bottom:0px;  left:0px;
        padding:15px;
        font-family: Arial, Helvetica, sans-serif; 
        border-top:1px solid #aaa;
        //z-index:10000;
        text-align:center;
        //-webkit-box-shadow: 0px -5px 32px -5px rgba(0,0,0,0.75);
        //-moz-box-shadow: 0px -5px 32px -5px rgba(0,0,0,0.75);
        //box-shadow: 0px -5px 32px -5px rgba(0,0,0,0.75);
        button.start_phase1 {
            font-size:14px;
            line-height:1.5;
            border-radius:3px;
            padding:3px 20px 3px 20px;
            background-color: @paleblue;
            border: 0px;
            color:white;
            cursor:pointer;
        }  
        button.next_stage {
            display:none;
            font-size:14px;
            line-height:1.5;
            border-radius:3px;
            padding:3px 20px;
            background-color: @paleblue;
            border: 0px;
            color:white;
            cursor:pointer;
        }
        button.finish_phase2 {
            display:none;
            font-size:14px;
            line-height:1.5;
            border-radius:3px;
            padding:3px 20px;
            background-color: @paleblue;
            border: 0px;
            color:white;
            cursor:pointer;
        }
        div.clock {
            font-size:12px; 
            text-align:center;
            color:#fff;
            margin:5px;
        }
    }

    label.inst_ref_list {
        margin-top:15px;
        padding-top:10px;
        border-top:1px solid @palered;
    }

    ul.ref_list {
        list-style-type:none;   list-style:none;    margin:15px; padding:0px;
        font-family: sans-serif, helvetica, Arial;
        //li.ref_plan:first-child {
        //    border:1px solid #ddd;
        //}
        li.ref_plan{
            position:relative;
            box-sizing: border-box;
            border:1px solid #ccc;
            margin-top:10px;
            //background-color:@lightGray;
            border-radius: 7px;
            width:100%;
            padding:10px;
            .color1 { color:  @lucitegreen;        }
            .color2 { color:  @tangerineorange;        }
            label.ref_description {
                display:block;
                font-weight:400;
                font-size:17px;
                line-height:24px;
                padding-right:50px;
                word-wrap: break-word;
            }
            img.remove {
                position:absolute;
                top:15px; right: 15px;
                width:15px; height:15px;
                cursor:pointer;
            } 
            img.update {
                position:absolute;
                top:15px; right: 40px;
                width:15px; height:15px;
            } 
            .editable {
                background-color:rgba(255,255,255,0.2);
                border-radius: 3px;
                padding:0px 3px;
                margin-left:2px; margin-right:2px;
            }
            div.ref_plan_detail {
                .detail_part {   
                    font-size:13px; font-weight:300; color: #999;
                }
                ul {    
                    list-style-type:none;   list-style:none;    margin:0px; padding:0px;
                    padding-left:15px;
                    .heading { 
                        font-size:13px;
                        font-weight:400;  color:#999;  margin-right:5px;
                    }
                    li {
                        font-family: Arial, Helvetica, sans-serif; 
                        display:inline-block;
                        margin-right:3px; margin-left:0px;
                        padding: 0px 4px;
                        font-size: 13px;
                        border-radius:3px; ;
                        //background-color:white;

                    }
                }
            }
        }


    }

}

































