html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0px;
}
.crossed {
  color: #7dd0b6 !important;
  text-decoration: line-through;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  /*dim the background*/

}
.overlay .modal_frame {
  width: 600px;
  position: relative;
  height: calc(100% - 200px);
  overflow: scroll;
  margin: 100px auto;
  background-color: white;
  border: 2px solid #54a6ad;
  border-radius: 10px;
  padding: 15px;
  text-align: justify;
}
.overlay .modal_frame .modal_title {
  display: block;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.overlay .modal_frame .modal_content {
  margin-top: 8px;
  font-size: 14px;
  color: black;
}
.overlay .modal_frame .modal_content p {
  font-size: 18px;
  margin-top: 20px;
  font-family: sans-serif, helvetica, Arial;
}
.overlay .modal_frame img.modal_close {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.main_container {
  position: relative;
  min-width: 800px;
  height: 100%;
  overflow: hidden;
}
.topic_container {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
}
.topic_container label.inst {
  display: block;
  margin: 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.topic_container ul.topic_list {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}
.topic_container ul.topic_list li.topic {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 47%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #ffffff), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #ffffff 47%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #ffffff 47%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #ffffff 47%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #ffffff 47%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d8d8d8', GradientType=0);
}
.topic_container ul.topic_list li.topic {
  width: calc(100%-15px);
  padding: 4px 0px 2px 0px;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #fff;
  cursor: pointer;
}
.topic_container ul.topic_list li.topic div.topic_rep {
  position: relative;
}
.topic_container ul.topic_list li.topic div.topic_rep label.topic_index {
  position: absolute;
  top: -3px;
  left: 2px;
  width: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #54a6ad;
}
.topic_container ul.topic_list li.topic div.topic_rep ul.topic_terms {
  margin: 5px 5px 5px 30px;
  padding: 0px;
  line-height: 1em;
}
.topic_container ul.topic_list li.topic div.topic_rep ul.topic_terms li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
}
.topic_container ul.topic_list li.topic div.topic_rep ul.topic_terms li div.term {
  font-family: Arial, Helvetica, sans-serif;
}
.topic_container ul.topic_list li.topic.selected {
  margin-right: -5px;
  background: #e0fbff;
  background: -moz-linear-gradient(top, #e0fbff 0%, #abc9d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0fbff), color-stop(100%, #abc9d1));
  background: -webkit-linear-gradient(top, #e0fbff 0%, #abc9d1 100%);
  background: -o-linear-gradient(top, #e0fbff 0%, #abc9d1 100%);
  background: -ms-linear-gradient(top, #e0fbff 0%, #abc9d1 100%);
  background: linear-gradient(to bottom, #e0fbff 0%, #abc9d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0fbff', endColorstr='#abc9d1', GradientType=0);
  border-bottom: 1px solid #54a6ad;
}
.document_container {
  box-sizing: border-box;
  background-color: #d6f6f9;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
}
.document_container label.inst {
  display: block;
  margin: 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.document_container span.document_show_all {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 12px;
  margin-left: 20px;
  font-weight: 300;
  cursor: pointer;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.document_container span.document_hide_all {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  margin-left: 20px;
  font-weight: 300;
  cursor: pointer;
  font-family: sans-serif, helvetica, Arial;
  color: #54a6ad;
}
.document_container button.document_show {
  display: block;
  position: absolute;
  width: 150px;
  height: 40px;
  top: calc(50% -  20px);
  left: calc(50% - 75px);
  background: transparent;
  border: 1px solid black;
  font-size: 17px;
  cursor: pointer;
}
.document_container ul.document_list {
  list-style-type: none;
  list-style: none;
  margin: 10px;
  padding: 0px;
}
.document_container ul.document_list li.document_item:hover {
  border: 1px solid #54a6ad;
}
.document_container ul.document_list li.document_item {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: zoom-in;
  height: 45px;
  overflow: hidden;
}
.document_container ul.document_list li.document_item .fadeCurtain {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #d6f6f9 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #d6f6f9 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #d6f6f9 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #d6f6f9 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #d6f6f9 100%);
}
.document_container ul.document_list li.document_item .idx {
  display: inline-block;
  margin-right: 5px;
  color: #54a6ad;
  font-weight: 800;
  font-size: 16px;
  font-family: sans-serif, helvetica, Arial;
}
.document_container ul.document_list li.document_item .prob {
  font-weight: 400;
  font-family: sans-serif, helvetica, Arial;
  font-size: 16px;
  margin-left: 10px;
  font-style: italic;
  color: #54a6ad;
}
.document_container ul.document_list li.document_item .title {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif, helvetica, Arial;
}
.document_container ul.document_list li.document_item .fulltext {
  font-size: 13px;
}
.document_container ul.document_list li.document_item span.showmore {
  display: block;
  font-family: sans-serif, helvetica, Arial;
  margin-top: 5px;
  color: #54a6ad;
  fint-weight: 800;
  cursor: pointer;
}
.document_container ul.document_list li.selectedDoc {
  cursor: zoom-out;
  height: auto;
}
.document_container ul.document_list li.selectedDoc .fadeCurtain {
  display: none;
}
.refinement_container {
  display: none;
  position: relative;
  box-sizing: border-box;
  position: absolute;
  background: #333;
  font-weight: 300;
  color: white;
  top: 0px;
  left: 65%;
  width: 35%;
  height: 100%;
  overflow-y: scroll;
}
.refinement_container label.inst {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif, helvetica, Arial;
  margin: 20px 15px 0px 15px;
  color: #c96b6b;
}
.refinement_container div.instruction {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.3em;
  font-family: sans-serif, helvetica, Arial;
}
.refinement_container .open_refinement_tool {
  margin: 15px;
  font-family: sans-serif, helvetica, Arial;
}
.refinement_container .open_refinement_tool label.main {
  color: #c96b6b;
  margin-top: 10px;
}
.refinement_container .open_refinement_tool label {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.refinement_container .open_refinement_tool ul.questions {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  font-size: 13px;
  font-weight: 300;
}
.refinement_container .open_refinement_tool ul.questions li {
  line-height: 1.4em;
}
.refinement_container .open_refinement_tool div.open_template label {
  display: block;
  font-size: 13px;
  font-weight: 400;
}
.refinement_container .open_refinement_tool textarea.full-col-text {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #666;
  background: #151515;
  color: white;
  height: 100px;
  margin: 5px 0;
  padding: 5px;
  font-size: 13px;
}
.refinement_container .open_refinement_tool button.add_open_ref {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 12px;
  margin: 5px ;
  background-color: #c96b6b;
  border: 0px solid #802F12;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.refinement_container .open_refinement_tool div.warning {
  font-size: 12px;
  text-align: center;
  color: #f00;
  margin: 5px;
}
.refinement_container ul.open_ref_list {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, helvetica, Arial;
  margin: 15px;
}
.refinement_container ul.open_ref_list li.ref_plan {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 100%;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.2);
}
.refinement_container ul.open_ref_list li.ref_plan label.ref_description {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-right: 50px;
  word-wrap: break-word;
}
.refinement_container ul.open_ref_list li.ref_plan img.remove {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 12px;
  width: 15px;
  height: 15px;
}
.refinement_container .refinement_tool {
  margin: 15px;
  font-family: sans-serif, helvetica, Arial;
}
.refinement_container .refinement_tool label {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin-top: 10px;
}
.refinement_container .refinement_tool div.template {
  position: relative;
  box-sizing: border-box;
  margin-top: 6px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 7px;
  width: 100%;
  padding: 6px;
}
.refinement_container .refinement_tool div.template .ref_title {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: white;
}
.refinement_container .refinement_tool div.template input.topicNum {
  width: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.refinement_container .refinement_tool div.template input.singleWord {
  width: 50px;
  font-size: 16px;
  font-weight: 500;
}
.refinement_container .refinement_tool div.template input.documentCodes {
  width: 50px;
  font-size: 16px;
  font-weight: 500;
}
.refinement_container .refinement_tool div.template input[type='radio'] {
  position: absolute;
  top: 12px;
  left: 10px;
}
.refinement_container .refinement_tool div.template label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.refinement_container .refinement_tool div.template div.details {
  margin-top: 5px;
}
.refinement_container .refinement_tool div.template div.details .half-col-text {
  width: 45%;
  height: 20px;
  margin: 3px;
  font-size: 14px;
}
.refinement_container .refinement_tool div.template div.details textarea.full-col-text {
  width: 96%;
  height: 40px;
  margin: 3px;
  font-size: 14px;
}
.refinement_container .refinement_tool div.template button.add {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 7px;
  margin: 5px ;
  background-color: #c96b6b;
  border: 0px solid #802F12;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.refinement_container .refinement_tool div.template button.reset {
  font-size: 12px;
  line-height: 1.5;
  padding: 3px 7px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
.refinement_container .refinement_tool div.template div.smallInst {
  margin: 4px 0 4px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif, helvetica, Arial;
  color: #aaa;
}
.refinement_container .refinement_tool div.template.focused {
  background-color: #ccc;
  border: 1px solid #aaa;
}
.refinement_container .refinement_tool div.template[type='split-topic'] ul.wordBucket {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  float: left;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  width: 45%;
  margin-left: 10px;
  margin-bottom: 5px;
  min-height: 50px;
  height: 150px;
  overflow: scroll;
}
.refinement_container .refinement_tool div.template[type='split-topic'] ul.wordBucket li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 3px;
  margin-left: 0px;
  padding: 0px 4px;
  font-size: 13px;
  cursor: pointer;
}
.refinement_container .refinement_tool div.template[type='split-topic'] div.smallInst {
  margin: 4px 0 4px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif, helvetica, Arial;
  color: #aaa;
}
.refinement_container .refinement_tool div.template[type='remove-words-from-topic'] ul.wordBucket {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 3px 7px 3px 7px;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 30px;
  border-radius: 5px;
}
.refinement_container .refinement_tool div.template[type='remove-words-from-topic'] ul.wordBucket li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  font-size: 13px;
  border-radius: 3px;
  color: #bbb;
  cursor: pointer;
}
.refinement_container .refinement_tool div.template[type='remove-words-from-topic'] div.smallInst {
  margin: 4px 0 4px 1px;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif, helvetica, Arial;
  color: #aaa;
}
.refinement_container div.bottom_UI {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #aaa;
  text-align: center;
}
.refinement_container div.bottom_UI button.start_phase1 {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 20px 3px 20px;
  background-color: #54a6ad;
  border: 0px;
  color: white;
  cursor: pointer;
}
.refinement_container div.bottom_UI button.next_stage {
  display: none;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 20px;
  background-color: #54a6ad;
  border: 0px;
  color: white;
  cursor: pointer;
}
.refinement_container div.bottom_UI button.finish_phase2 {
  display: none;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 3px 20px;
  background-color: #54a6ad;
  border: 0px;
  color: white;
  cursor: pointer;
}
.refinement_container div.bottom_UI div.clock {
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin: 5px;
}
.refinement_container label.inst_ref_list {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #c96b6b;
}
.refinement_container ul.ref_list {
  list-style-type: none;
  list-style: none;
  margin: 15px;
  padding: 0px;
  font-family: sans-serif, helvetica, Arial;
}
.refinement_container ul.ref_list li.ref_plan {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
}
.refinement_container ul.ref_list li.ref_plan .color1 {
  color: #7dd0b6;
}
.refinement_container ul.ref_list li.ref_plan .color2 {
  color: #f69256;
}
.refinement_container ul.ref_list li.ref_plan label.ref_description {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  padding-right: 50px;
  word-wrap: break-word;
}
.refinement_container ul.ref_list li.ref_plan img.remove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.refinement_container ul.ref_list li.ref_plan img.update {
  position: absolute;
  top: 15px;
  right: 40px;
  width: 15px;
  height: 15px;
}
.refinement_container ul.ref_list li.ref_plan .editable {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 0px 3px;
  margin-left: 2px;
  margin-right: 2px;
}
.refinement_container ul.ref_list li.ref_plan div.ref_plan_detail .detail_part {
  font-size: 13px;
  font-weight: 300;
  color: #999;
}
.refinement_container ul.ref_list li.ref_plan div.ref_plan_detail ul {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
.refinement_container ul.ref_list li.ref_plan div.ref_plan_detail ul .heading {
  font-size: 13px;
  font-weight: 400;
  color: #999;
  margin-right: 5px;
}
.refinement_container ul.ref_list li.ref_plan div.ref_plan_detail ul li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 3px;
  margin-left: 0px;
  padding: 0px 4px;
  font-size: 13px;
  border-radius: 3px;
}
