@purple: rgb(155, 70, 129);
@purple-light: #bf81b3;
@skyblue: #02aff0;
@yellow: #ffdc48;
@grassgreen: #889a0f;
@orange: #ea7e00;
@paleblue: #54a6ad;
@palegreen: #92ba67;
@palered: #c96b6b;

@aquamarine: #9dc6d8;
@scubablue: #00b3ca;
@lucitegreen: #7dd0b6;
@classicblue: #1d4e89;
@toastedalmond: #d2b29b;
@strawberryice: #e38690;
@tangerineorange: #f69256;
@custardyellow: #ead98b;
@marsalared: #965251;
@glaciergray: #c6cccc;

@sipsgreen: #D0EFF2;
@lightGray: #dadada;

@scubablueDarker: #00a1b2;

html, body {
    height:100%;
    position:relative;
    overflow:hidden;
    margin:0px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.crossed {
    color:@lucitegreen !important;
    text-decoration:line-through;
}

.hidden {
    display:none;
}

.button.dummy_shortcut{
    position:absolute;
    bottom:0px; right:1px;
}


.container {
    position:relative;
    min-width:800px;
    height:100%;

    .introduction {
        font-family: sans-serif, helvetica, Arial;
        width:100%;     box-sizing: border-box;
        font-size:16px;
        font-weight:100;
        line-height:1.5em;
        padding:20px; 
        border-bottom:1px solid #666;
        
    }
    button.simple {
        display:block;
        font-size:1em;
        margin-top:10px;
        padding: .3em 1.0em;  
        background:transparent;
        border-radius:2px;
        border:1px solid black; 
        font-weight:100;  font-family: sans-serif;
    }
    button.simple:hover {
        background:white;
    }

    .turk_tasks {
        width:60%;
        height:100%;
        label {  
            display:block;
            font-size:14px; font-weight:700;
            font-family:sans-serif; color:#999;
        }
        ul.turk_tasks_ul {
            height:100%;
            position:relative;
            list-style-type:none;   list-style:none;    margin:0px; padding:30px;
            li.turk_task {
                height:100%;
                position:relative;
                //overflow:scroll;
                div.topic_rep {
                    border:1px solid #aaa;
                    background:white;
                    -webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.15);
                    -moz-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.15);
                    box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.15);
                }
            }
        }
        ul.topic_terms {
            margin:10px;
            padding:0px;
            line-height:1.5em;
            li{
                display:inline-block;
                margin: 0px 2px 1px 0px;
                padding:0px 6px;
                background:white;
                border-radius:4px;
                border:1px solid white;
                text-align: justify;
                div.term {    
                    font-family: Arial, Helvetica, sans-serif; 
                }
                div.term.highlighted {
                    text-shadow: 0 0 0.5em @palered, 0 0 0.5em @palered;
                }
            }
            
        }
        ul.ui-sortable {
            li {
                cursor:pointer; 
                background-color:#ddd;
            }
            li.selected {
                background-color:@sipsgreen;
                border:1px solid @paleblue;
            }
            li.removed {
                display:none;
            }
        }
        div.topic_terms_editing_ui {
            font-family: Arial, Helvetica, sans-serif; 
            font-size:21px;
            margin:0px;
            padding: 7px 10px;
            font-weight:100;
            background-color:@sipsgreen;
            label {
                display:block;
                font-size:12px; font-weight:700;
                color:#555;
            }
            input[type='text'] {
                background-color:rgba(255,255,255,1.0);
                color:black; width:160px;
                font-size:16px;
                border:1px solid @scubablueDarker;  margin-right:10px;
                margin-left:-5px;
            }
            a {
                display: inline-block;
                color:white;
                font-weight:500;
                font-size:18px;
                cursor:pointer;
                border-radius:4px; 
                padding:2px 7px;
                margin-right:5px;
                border:1px solid @scubablueDarker;
                background:@scubablue;

            }
            button {
                display:inline-block;
            }
        }

        div.doc_rep {
            height:100%;
            padding-top:20px;
            overflow:scroll;
            ul.doc_list_ul {
                list-style-type:none;   list-style:none;    margin:10px; padding:0px;
                padding-bottom:70px;
                li {
                    position:relative;
                    margin-bottom:10px;
                    max-height:20px;
                    overflow:hidden;
                    cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
                    div.doc_weight{
                        display:inline;
                        font-family:sans-serif;
                        color:@paleblue;
                        font-weight:500;
                        font-size:12px;
                    }
                    div.doc_title {
                        display:inline;
                        font-family: serif; 
                        font-size:18px;
                        display:inline;
                    }
                    div.doc_text{
                        display:inline;
                        font-family: serif; 
                        font-size:13px;
                        margin-left:15px;
                        //max-height:15px;
                        overflow:hidden;
                        color:#666;
                    }
                    .fadeCurtain {
                        display:none;
                        position:absolute;
                        bottom:0px; 
                        width:100%; height:10px;
                        background: -webkit-linear-gradient(
                            rgba(255, 255, 255, 0) 0%,
                            white 100%
                        ); 
                        background-image: -moz-linear-gradient(
                            rgba(255, 255, 255, 0) 0%,
                            white 100%
                        );
                        background-image: -o-linear-gradient(
                            rgba(255, 255, 255, 0) 0%,
                            white 100%
                        );
                        background-image: linear-gradient(
                            rgba(255, 255, 255, 0) 0%,
                            white 100%
                        );
                        background-image: -ms-linear-gradient(
                            rgba(255, 255, 255, 0) 0%,
                            white 100%
                        );
                    }
                }
                li.zoomed {
                    cursor: -webkit-zoom-out; cursor: -moz-zoom-out;
                    max-height:1000px;
                }
            }
        }
    }

    .refinement_container {
        position:relative;
        box-sizing: border-box;
        position:absolute;
        box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.2); 
        background:@sipsgreen;
        font-weight:300;
        color:black;
        top:0px;
        left:60%;
        width: 40%;
        height:100%;
        overflow-y:scroll;

        .tutorial {
            margin:30px;
            font-family: sans-serif, helvetica, Arial;
            line-height:1.3em;
        }
        .refining_tool {
            margin:30px;
            font-family: sans-serif, helvetica, Arial;
            label.task_num {  font-weight:600; font-size:16px;   }
            .refining_stage {
                margin-top:20px;
                .ref_question {
                    margin-top:10px;  margin-bottom:5px; 
                }
                textarea.ref_answer {
                    width:100%; height:50px; font-size:15px;
                }
                div.ref_answer {
                    font-size:0.9em;    font-weight:300; 
                    line-height:1.2em;
                    input {
                        margin-left:15px;
                    }
                    input[type='text'] {
                        width:350px; font-size:0.9em;
                        margin-top:5px;
                    }
                    input[type="checkbox"] {

                    }
                    input[type='text'].ref_theme_add_word {
                        width:200px; border:1px solid #999; border-radius:1px;
                        margin-top:-2px;  margin-left:0px; height:18px;
                    }
                    button {
                        font-size:14px;
                        margin-top:5px;
                    }
                }
                ul.ref_theme_editor {
                    list-style-type:none;   list-style:none;    margin:0px 0px 5px;     padding:5px;
                    border:1px solid #999;  width:100%; background:white;
                    li {
                        font-family: Arial, Helvetica, sans-serif; 
                        display:inline-block;
                        width:auto; height:auto;
                        margin-right:10px; margin-left:0px;
                        padding:1px 3px; line-height:1.3em;
                        font-size: 13px;
                        border-radius:3px; ;
                        border:1px solid white;
                        color:#000;
                        background-color:#ddd;
                        cursor:pointer;
                    }
                    li.selected {
                        background-color:@sipsgreen;
                        border:1px solid @paleblue;
                    }
                    li.removed {
                        display:none;
                    }
                }
                div.ref_theme_editing_ui{
                    margin: 7px 0 0 8px;
                }
                dif.ref_editing_tool {
                    
                }
            }
            

        }


    }


}



.main_container {
    position:relative;
    min-width:800px;
    height:100%;
    overflow:hidden;
}

.topic_container {
    box-sizing: border-box;
    position:absolute;
    top:0px;
    left:0px; 
    width: 50%;
    height:100%;
    padding:5px 0px 5px 5px;
    overflow-y:scroll;
    label.inst {
        display:inline-block;
        margin:15px;
        font-size: 16px;    font-weight:600;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    div.logging_stuff {
        text-align:right; 
        margin:10px;
    }
    ul.focused_word_list {
        display:inline;
        list-style-type:none;   list-style:none;    margin:0px; padding:0px;
        li.focused_word {
            display:inline-block;
            font-family: Arial, Helvetica, sans-serif; 
            font-size:14px;
            color:white;
            border-radius: 2px;
            background-color:@palered;
            margin-right:4px; 
            padding: 0px 3px 0px 3px;
        }
    }


    ul.topic_list {
        list-style-type:none;   list-style:none;    margin:0px; padding:0px;
        margin-left:10px;
        li.topic {
            background: rgb(255,255,255);
            background: -moz-linear-gradient(top,  rgb(255,255,255) 69%, rgb(234,234,234) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(69%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234)));
            background: -webkit-linear-gradient(top,  rgb(255,255,255) 69%,rgb(234,234,234) 100%);
            background: -o-linear-gradient(top,  rgb(255,255,255) 69%,rgb(234,234,234) 100%);
            background: -ms-linear-gradient(top,  rgb(255,255,255) 69%,rgb(234,234,234) 100%);
            background: linear-gradient(to bottom,  rgb(255,255,255) 69%,rgb(234,234,234) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
        }
        li.topic{
            width:calc(~"100%-15px");
            padding:6px 0px 4px 0px;
            /*border-bottom:1px solid #aaa;*/
            //border-top:1px solid #fff;
            cursor:pointer;
            div.topic_rep{
                position:relative;
                label.topic_index {
                    position:absolute;
                    top:-2px; left:2px; 
                    width:25px;
                    text-align:center;
                    font-family: Arial, Helvetica, sans-serif; 
                    font-size:18px; font-weight:600;  color:@paleblue;
                }
                ul.topic_terms {
                    margin:5px 5px 5px 30px; 
                    padding:0px;
                    line-height:1em;
                    li{
                        display:inline-block;
                        margin-right:10px; margin-left:0px;
                        div.term {    
                            font-family: Arial, Helvetica, sans-serif; 
                        }
                        div.term.highlighted {
                            text-shadow: 0 0 0.5em @palered, 0 0 0.5em @palered;
                        }
                    }
                }
            }
        }
        li.topic.selected {
            background:@sipsgreen;            
            cursor:default;
            //border-bottom:1px solid @paleblue;
        }
    }
}

.document_container {
    box-sizing: border-box;
    background-color:@sipsgreen;
    position:absolute;
    top:0px;
    left:50%;
    width: 50%;
    height:100%;
    padding:5px;
    overflow-y:scroll;
    label.inst {
        display:block;
        margin:15px;
        font-size: 16px;    font-weight:600;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    span.document_show_all {
        position:absolute;
        top:15px; right:60px; 
        font-size:12px;
        margin-left:20px; 
        font-weight:300;
        cursor:pointer;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    span.document_hide_all {
        position:absolute;
        top:15px; right:15px; 
        font-size:12px;
        margin-left:20px; 
        font-weight:300;
        cursor:pointer;
        font-family: sans-serif, helvetica, Arial;
        color: @paleblue;
    }
    button.document_show {
        display:block;
        position:absolute;
        width:150px; height:40px;
        top:calc(~"50% -  20px"); 
        left:calc(~"50% - 75px"); 
        background:transparent;
        border:1px solid black;
        font-size:17px;
        cursor:pointer;
    }
    ul.document_list {
        list-style-type:none;   list-style:none;    margin:10px; padding:0px;
        
        li.document_item:hover {
            border:1px solid @paleblue;
        }

        li.document_item {
            position:relative;
            border:1px solid rgba(0,0,0,0);
            border-radius:5px;
            padding:5px 0 0 10px;
            margin-bottom:5px;
            cursor:zoom-in;
            height:40px;
            overflow:hidden;
            .fadeCurtain {
                position:absolute;
                bottom:0px; 
                width:100%; height:10px;
                background: -webkit-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                ); 
                background-image: -moz-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
                background-image: -o-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
                background-image: linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
                background-image: -ms-linear-gradient(
                    rgba(255, 255, 255, 0) 0%,
                    @sipsgreen 100%
                );
            }
            .idx {
                display:inline-block;
                margin-right:5px;
                color:@paleblue;
                font-weight: 800;
                font-size:16px;
                font-family: sans-serif, helvetica, Arial;
            }
            .prob {
                font-weight:400;
                font-family: sans-serif, helvetica, Arial;
                font-size: 16px;
                margin-left:10px;
                font-style:italic;
                color: @paleblue;
            }
            .title {
                display:inline;
                font-weight: 500;
                font-size: 16px;
                font-family: sans-serif, helvetica, Arial;
                .keyword {
                    text-shadow: 0 0 0.5em @palered, 0 0 0.5em @palered;
                }
            }
            .keyPhrase {
                color:@palered;
                font-size:13px;
                .keyword {
                    color:black;
                    text-shadow: 0 0 0.5em @palered, 0 0 0.5em @palered;
                }
            }
            .fulltext {
                display:inline;
                font-size:14px;
                line-height:1em;
                .keyword {
                    color:@palered;
                }
            }
            span.showmore {
                display:inline-block;
                font-family: sans-serif, helvetica, Arial;
                margin-top:5px;
                color:@paleblue;
                fint-weight:800;
                font-size:13px;
                cursor:pointer;
            }
            .relevancyScore {
                display:block;
                font-family: sans-serif, helvetica, Arial;
                color:@paleblue; 
                font-style:italic;
                font-size:13px;
            }
            .otherTopics {
                display:block;
                font-family: sans-serif, helvetica, Arial;
                color:#888; 
                font-style:italic;
                font-size:13px;
                .relatedTopic {
                    display:block;
                }
            }
            
        }
        li.document_item.showingKeyPhrase {
            //height:65px;
        }
        li.selectedDoc {
            cursor:zoom-out;
            height:auto !important;
            .fadeCurtain {
                display:none;
            }
        }
        div.separation {
            color:@paleblue;
            font-size:13px;
            font-weight:700;
            margin-left:5px;
            border-bottom:1px dotted @paleblue;
        }
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    .modal_frame {
        width:600px;
        position:relative;
        height: calc(~'100% - 200px');
        overflow:scroll;
        margin: 100px auto;
        background-color: white;
        border:2px solid @paleblue;
        border-radius:10px;
        padding:15px;
        text-align:justify;
        .modal_title {
            display:block;
            padding-right:20px;
            font-size: 17px;    font-weight:600;
            font-family: sans-serif, helvetica, Arial;
            color: @paleblue;
        }
        .modal_content {
            margin-top:8px;
            font-size: 14px; 
            color: black;   
            p {
                font-size:18px;
                margin-top:20px;
                font-family: sans-serif, helvetica, Arial;
            }
        }
        img.modal_close {
            position:absolute;
            cursor:pointer;
            top:15px; right: 15px;
            width:20px; height:20px;
        }
    }

}





























